html, body {
  background: #29c629;
}

body {
  padding: 10%;
  
}

.App{
  background: #00800080;
}

img {
  width: 100%;
  height: 100%;
  border: 1px solid white;
  border-radius: 5px;
  }

  ul {
    list-style: nl;
  }

  h3{
    text-align: center;
    text-transform: uppercase;
    color: #62f962cc;
  }

  ul li:before {
    content: ".";
color: #53cc46;
font-size: 20px;
font-weight: bold;
position: relative;
left: -9px;
line-height: 13px;
}
